@source './**/*.{svelte,ts}';
@theme {
  --height-top-bar: --spacing(12);
  --height-content: calc(100vh - --spacing(12));
  --height-content-nav: calc(100vh - --spacing(24));

  --width-content-md: calc(100vw - 290px);
}
