@import '@stack/tailwind/base';
@import '@stack/tailwind/colors';
@import '@stack/ui/styles';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@utility container {
  @media (width >= 1100px) {
    max-width: 1100px;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-gutter: auto;
    scrollbar-color: #374151 transparent;
  }

  :root {
    --font-sans: 'IBM Plex Sans';
    --font-mono: 'IBM Plex Mono';
    --background: #ffffff;
    --foreground: #333333;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  @apply font-sans;
}

.prose {
  --tw-prose-links: var(--color-primary-500);
}
