@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Geist;
    --font-mono: 'Geist Mono';
    --background: #ffffff;
    --foreground: #333333;

    /* TODO: Extract when creating a package for the layouts */
    --sm-top-bar-h: 2.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  @apply font-sans;

  color: var(--foreground);
  stroke: var(--foreground);
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-Black.woff') format('woff'),
    url('/fonts/Geist-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-Bold.woff') format('woff'),
    url('/fonts/Geist-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-SemiBold.woff') format('woff'),
    url('/fonts/Geist-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-Medium.woff') format('woff'),
    url('/fonts/Geist-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-Regular.woff') format('woff'),
    url('/fonts/Geist-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-Light.woff') format('woff'),
    url('/fonts/Geist-Light.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src:
    url('/fonts/Geist-ExtraLight.woff') format('woff'),
    url('/fonts/Geist-ExtraLight.woff2') format('woff2');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}
